main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
p {
  margin: 0;
}

main h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.4em;
}

main h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.8em;
}

main button {
  font-size: 1rem;
  background-color: #4d5b9e;
  color: #F5F7FB;
  border: none;
  border-radius: 15px;
  padding: 1em 1.75em;
  min-width: 190px;
  cursor: pointer;
}
